/*border-box*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #3b3b3b;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: #dfdfe1
  /*this bar should be 75px height*/
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  height: 50px;
  background-color: black;
  /*this bar should be 30px height*/
}

.arrow-left{
  float: left;
  position:relative;
  top:20%;
}

.arrow{
  float: right;
  margin-right: 30px;
  position:relative;
  bottom: 7px;
}

.restaurant-list {
  padding-top: 50px;
  width: 50%;
}

.content{
  position:relative;
  top: 18px;
  margin-left: 25px;
}

 h1{
   font-size: 17px;
   font-weight: bold;
   padding-bottom: 3px;
 }

h3{
  font-size:13px;
}

.location{
  height:75px;
  width: 420px;
  border-bottom: 1.5px solid #c0c0c0;
}

a:link { color: white; } /* unvisited */
a:visited { color:#0070BA; } /* visited */
.location:hover {background-color: #ffffcc; } /* mouse over */
a:active { color:#0070BD; } /* selected */
